<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646631853949-tavc7nuo1abnknr2cd3qd4oeltrm25o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646631853949-tavc7nuo1abnknr2cd3qd4oeltrm25o6</string>
	<key>API_KEY</key>
	<string>AIzaSyAiSy2clUsPCwHyPGNJ0zIn3WqW1Vy7Ey4</string>
	<key>GCM_SENDER_ID</key>
	<string>646631853949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.artilleryiOS</string>
	<key>PROJECT_ID</key>
	<string>artillerydatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>artillerydatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646631853949:ios:9ab8288dffd848ae</string>
	<key>DATABASE_URL</key>
	<string>https://artillerydatabase.firebaseio.com</string>
</dict>
</plist>